<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>admin</username>
            <password>admin</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>admin</username>
            <password>admin</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>http://amrashraf.com:8081/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>nexus-ssl</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <maven.wagon.http.ssl.insecure>true</maven.wagon.http.ssl.insecure>
                <maven.wagon.http.ssl.allowall>true</maven.wagon.http.ssl.allowall>
                <maven.wagon.http.ssl.trustStore>maven_truststore.jks</maven.wagon.http.ssl.trustStore>
                <maven.wagon.http.ssl.trustStorePassword>123456</maven.wagon.http.ssl.trustStorePassword>
            </properties>
        </profile>
    </profiles>
</settings>
